{% extends "base.html" %}
{% load static %}

{% block content %}
		<main class="page">
			<section data-watch class="about">
				<h1 class="about__title title title--large">Про компанію</h1>
				<div class="about__container">
					<h2 class="about__title title">Торшки історії</h2>
					<div class="about__content">
						<div class="about__text-block">
							<div class="about__text text">
								<p>ЦСО (Центр Сервісного Обслуговування) був заснований у 2005 році групою ентузіастів у сфері
									телекомунікацій. Ініціатори створення компанії мали на меті забезпечити високоякісний доступ
									до Інтернету для мешканців невеликих міст та селищ.</p>
								<p>Спочатку ЦСО обслуговував лише кілька десятків клієнтів, але завдяки високому рівню
									обслуговування та надійності мережі, компанія швидко здобула популярність. У 2008 році компанія
									впровадила новітні технології оптоволоконного зв'язку, що дозволило значно розширити зону
									покриття та збільшити швидкість інтернету. Протягом наступних років ЦСО відкрив декілька філій
									у різних регіонах, продовжуючи інвестувати у розвиток інфраструктури.</p>
								<p>Завдяки своєму інноваційному підходу та
									орієнтації на клієнта, компанія отримала численні нагороди у галузі телекомунікацій. Сьогодні
									ЦСО обслуговує понад 100,000 клієнтів, надаючи надійний та швидкий доступ до Інтернету.</p>
							</div>
						</div>
						<img class="about__image ibg" src="{% static "img/about/01.webp" %}" alt="Image">
					</div>
					<h2 class="about__title title">Чому ЦСО</h2>
					<div class="about__content about__content--reverse">
						<div class="about__text-block">
							<div class="about__text text">
								<p>Обравши ЦСО (Центр Сервісного Обслуговування) як свого інтернет-провайдера,
									ви отримуєте ряд переваг.</p>
							</div>
							<h3 class="about__sub-title sub-title">Високоякісний сервіс</h3>
							<div class="about__text text">
								<p>ЦСО відомий своєю стабільною та надійною мережею, що забезпечує безперебійний доступ до Інтернету навіть у віддалених районах.</p>
							</div>
							<h3 class="about__sub-title sub-title">Швидкість та продуктивність</h3>
							<div class="about__text text">
								<p>Завдяки використанню новітніх технологій оптоволоконного зв'язку, ЦСО пропонує високі що ідеально підходить для стрімінгу, онлайн-ігор та дистанційної роботи.</p>
							</div>
							<h3 class="about__sub-title sub-title">Клієнтоорієнтованість</h3>
							<div class="about__text text">
								<p>Компанія завжди ставить на перше місце потреби своїх клієнтів, пропонуючи швидку та ефективну технічну підтримку 24/7. Спеціалісти завжди готові допомогти у вирішенні будь-яких питань.</p>
							</div>
							<h3 class="about__sub-title sub-title">Гнучкі тарифи</h3>
							<div class="about__text text">
								<p>ЦСО пропонує різноманітні тарифні плани, що дозволяють кожному клієнту обрати оптимальний варіант за ціною та швидкістю, враховуючи індивідуальні потреби.</p>
							</div>
						</div>
						<img class="about__image ibg" src="{% static "img/about/02.webp" %}" alt="Image">
					</div>
					<div class="about__content">
						<div class="about__text-block">
							<h3 class="about__sub-title sub-title">Інновації та розвиток</h3>
							<div class="about__text text">
								<p>Компанія постійно впроваджує нові технології та вдосконалює свою інфраструктуру,
									щоб забезпечити клієнтів найкращими умовами для роботи та розваг в Інтернеті.</p>
							</div>
							<h3 class="about__sub-title sub-title">Високий рівень задоволеності клієнтів</h3>
							<div class="about__text text">
								<p>Більшість клієнтів ЦСО задоволені наданими послугами, що підтверджується
									численними позитивними відгуками та високими оцінками.</p>
							</div>
							<h3 class="about__sub-title sub-title">Нагороди та визнання</h3>
							<div class="about__text text">
								<p>ЦСО отримав численні нагороди у галузі телекомунікацій, що є свідченням
									високого рівня професіоналізму та якості послуг, які надає компанія.</p>
							</div>
						</div>
						<img class="about__image ibg" src="{% static "img/about/03.webp" %}" alt="Image">
					</div>
				</div>
			</section>
		</main>
{% endblock %}